.body background{
    text-align: center;
  }
  
  .activity-title{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    background-color: black;
  
  }
  
  .activity-text{
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.3;
  
  }

/*  main
------------------------ */ 

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  margin: 10px auto;
  padding-right: 30px;
  float: left;
  display:inline-block;
}

#slack{
  position: relative;
}

.circle{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(235, 79, 157);
  position: relative;
  z-index: 10;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main .item div {
  margin-bottom: 3rem;
  padding: 3rem;
  width: 35%;
  background-color: rgba(0,0,0,30);
}

.item img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

.item h3{
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  z-index: 0;
}

.activity-box-text{
  text-align: center;
}
